<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kanban Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" /> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><img src='https://image.ibb.co/hwfVcn/logo.png' alt='logo'></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item mx-3">
                    <a class="btn btn-info nav-link" id='new-task' href="/new">New Task</a>
                  </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                  <li class="nav-item dropdown active mx-2">
                    <a class="btn btn-primary nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sync with Other Devices
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Device 1</a>
                      <a class="dropdown-item" href="#">Device 2</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-3" href="/user"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
        </div>
    </nav>