<% include partials/heading %>

<div class='container mt-5'>
    <div class="row">
        <div class="col-md-4">
            <h1>Fake User</h1>
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png" alt="User Avatar">
            
                <div class="card-body">
                    <p class="card-link"><a href="mailto:test@test.com">test@test.com</a></p>
                    <a class="btn btn-md btn-primary" href="#">
                        Edit Your Profile <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Fake User's tasks</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at elit dolor. Nullam id odio vel nunc ullamcorper interdum. Sed id tellus egestas, semper diam in, gravida ligula. Etiam a tortor ac magna dignissim aliquet sed eu odio. Vestibulum non magna mattis, varius libero hendrerit, ullamcorper tellus. Vestibulum venenatis quam eu tellus fermentum fermentum. Nullam maximus lacus sit amet malesuada pretium. Maecenas sodales, sem et luctus efficitur, ante tellus mollis metus, sit amet tempor lectus nibh non ante. Proin blandit dolor quis facilisis egestas. Sed ultricies nibh ipsum, quis fringilla risus convallis sed. In interdum lacinia nulla, eu tincidunt odio. Curabitur pellentesque lacinia consectetur. Etiam id porttitor arcu, posuere consequat velit. Praesent id lorem ac nibh varius tempus. Vestibulum finibus ligula et orci ultrices, ut pulvinar ante consequat.</p>
        </div>
    </div>
</div>

<% include partials/footer %>