.navbar {
    background-color: #e3f2fd;
}

.navbar-brand img {
    height: 40px;
}

.status-heading {
    margin: 20% 1% 5%;
    width: 100%;
}

.status-heading.btn:hover {
    cursor: default;
}

.content {
    width: 25%;
    margin-top: 50px;
}

.card .hide {
    transition: 0.2s linear;
    height: 0;
    opacity: 0;
}

.card:hover .hide {
    opacity: 1.0;
    height: 100%;
}

.btn.hide {
    width: 15%;
}

.tab-content, .tab-pane {
    width: 100%;
}

#history .card {
    width: 50%;
}